p {
    display: block;
    position: static;
    top: 30px;
    right: 5px;
    color: red;
}

.fixed {
    position: fixed;
}

body {
    margin: 0px;
    padding: 0px;
}

p {
    width: 350px;
    border: 1px black solid;
    position: fixed;
}

span {
    background: green;
    color: white;
    position: relative;
    top: 150px;
    left: 50px;
}

img {
    width: 400px;
    height: 400px;
    position: relative;
    top: 200px;
    float: right;
}

#img2 {
    clear: left;
}

.circle {
    border: 1px solid none;
    width: 300px;
    height: 300px;
    /* clear: both; */
    position: absolute;
    border-radius: 50%;
    background-color: khaki;
}

#eye1 {
    border: 1px solid none;
    width: 30px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    left: 50px;
    bottom: -50px;
    /* position: absolute; */
    background-color: white;
}

#eye2 {
    border: 1px solid none;
    width: 30px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    left: 220px;
    bottom: -12px;
    background-color: white;
}

#nose {
    border: 1px solid none;
    width: 50px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    left: 125px;
    bottom: -40px;
    background-color: white;
}

#mouth {
    border: 1px solid none;
    width: 100px;
    height: 20px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: relative;
    left: 100px;
    bottom: -100px;
    background-color: white;
}