body {
    margin: 0;
    padding: 0;
}

.top-bar,
.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-container {
    justify-content: space-evenly;
}

#container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 5px;
}

#container>div,
#picker>div {
    width: 70px;
    height: 70px;
}

#menu {
    display: grid;
    grid-template-rows: 25%;
    justify-items: center;
}